.component{
    display: flex;
    
}
img {
    flex: 0.5;
    height: 400px;
    width: 40%;
    margin-bottom: 20px;
    margin-right: 50px;
}

p{
    flex: 0.5;
    background-color:white;
    margin-bottom: 20px;
    margin-right: 50px;
    text-align: center;

}